/* more-content.css - ТОЛЬКО стили для контента страницы more.html */
@font-face {
    font-family: 'DG';
    src: url('fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'ln';
    src: url('fonts/Lusitana-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
.more-content {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: none;
    z-index: 2;
    margin-top: 5%;
    margin-left: 25%;
    width: 53%;
    padding: 20px;
    padding-right: 126px;
    padding-left: 60px;
    padding-top: 48px;
    height: 82%;
}

.quali h2 {
    font-size: 24px;
    font-family: 'ln', sans-serif;
}

.quali .comp1 {
    background-color: #FDC700;
    padding: 15px;
    padding-bottom: 25px;
    z-index: 3;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
}

.quali .comp2 {
    background-color: #FDC700;
    padding: 15px;
    padding-bottom: 25px;
    z-index: 3;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.quali .comp3 {
    background-color: #4F86FF;
    padding: 15px;
    padding-bottom: 25px;
    z-index: 3;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.quali .comp4 {
    background-color: #A2BFFE;
    padding: 15px;
    padding-bottom: 25px;
    z-index: 3;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.quali div {
    margin-left: 6%;
    margin-top: 14%;
}
.more-content {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: none;
    z-index: 2;
    margin-top: 2%;  /* Было 5% */
    margin-left: 25%;
    width: 53%;
    padding: 20px;
    padding-right: 126px;
    padding-left: 60px;
    padding-top: 48px;
    height: 82%;
}
/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .more-content {
        margin: 20px;
        width: calc(100% - 40px);
        padding: 25px;
        height: auto;
    }
    
    .quali h2 {
        font-size: 24px;
        text-align: center;
    }
    
    .quali div {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .comp1, .comp2, .comp3, .comp4 {
        padding: 15px;
        margin-top: 15px;
    }
    
    .comp1 p, .comp2 p, .comp3 p, .comp4 p {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (max-width: 480px) {
    .more-content {
        margin: 15px;
        width: calc(100% - 30px);
        padding: 20px;
    }
    
    .quali h2 {
        font-size: 22px;
    }
    
    .comp1 p, .comp2 p, .comp3 p, .comp4 p {
        font-size: 15px;
    }
}